@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>20Cube</h1>
    <p class="lead">Welcome to 20cube CI and CD Software Developement process</p>
    <p><a href="https://www.20cube.com/" class="btn btn-primary btn-lg">About more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Real Time alerts of key events</h2>
        <p>
            As part of the insights provided by MyHub, more than 25 key milestones are able to be monitored. With Smart Track, 
            20Cube goes well beyond the industry norms to give you up to the minute email or WebAPI or EDI notifications when key events happen. 
            This means you can be kept informed even when you’re not logged into MyHub. 
            These events are updated with the help of our custom designed workflow software that drives compliance across the supply chain.
        </p>
        <p><a class="btn btn-default" href="https://www.20cube.com/why20Cube.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About us</h2>
        <p>20Cube was created to change the way trade flows around the world in Logistics</p>
        <p><a class="btn btn-default" href="https://www.20cube.com/about-us.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>contact us</h2>
        <p>We work with our customers to understand their evolving needs</p>
        <p><a class="btn btn-default" href="https://www.20cube.com/contact-us.html">Learn more &raquo;</a></p>
    </div>
</div>